<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>delete guest "{{ title }}" from "{{ event_name }}"?</title>
		<style>body { max-width: 600px; margin: auto }</style>
		<style>{{ style | safe }}</style>
	</head>
	<body>
		<h1>delete "{{ title }}" from "{{ event_name }}"?</h1>

	 	<a href="{{ url_for('event', name=event_name) }}">view the event</a>

		{% if error %}<p style="color: red">error: {{ error }}</p>{% endif %}
		<form action="/api/event/{{ event_name }}/guest/{{ name }}/delete" method="POST">
			<table>
				<tr>
					<td><label for="password">password</label></td>
					<td>
						{% if not authorized %}
						<input type="password" id="password" name="password"/>
						{% else %}
						<span style="color: gray">saved until {{ expires }}</span> <a href="{{ url_for('api_revoke', redirect=url_for('delete_guest', event_name=event_name, name=name)) }}">logout</a>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="send it to the shadow realm"/></td>
				</tr>
			</table>
		</form>
	</body>
</html>
