<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{{ title }}</title>
		<style>{{ style | safe }}</style>
	</head>
	<body>
		<p>
			<a id="editlink" href="{{ url_for('edit_event', name=name) }}">edit</a>
			or
			<a id="deletelink" href="{{ url_for('delete_event', name=name) }}">delete</a>
			this event |
			<a id="returnlink" href="{{ url_for('home', name=name) }}">return</a>
			to list of events
		</p>

		{{ desc | safe }}

		<h2>RSVP</h2>

		<p>Fill in the form below to indicate whether you're coming.
		Set a password; you can use it later to change your response.
		Leave a comment if you like!
		Comments are visible to everyone.</p>
		<!-- passwords are stored hashed and salted
		but then again, you have only my word for that ;)
		maybe don't reuse your usual password here
		-->

		{% if error %}<p style="color: red">error: {{ error }}</p>{% endif %}
		<form action="/api/event/{{ name }}/guest" method="POST">
			<table>
				<tr>
					<td><label for="name">name</label></td>
					<td><input type="text" id="name" name="name" {% if guestname %}value="{{ guestname }}"{% endif %}/> </td>
				</tr>
				<tr>
					<td><label for="going">going</label></td>
					<td><input type="radio" id="going" name="going" value="going" {% if guestgoing %}checked="checked"{% endif %}/></td>
				</tr>
				<tr>
					<td><label for="not-going">not going</label></td>
					<td><input type="radio" id="not-going" name="going" value="not going" {% if not guestgoing %}checked="checked"{% endif %}/></td>
				</tr>
				<tr>
					<td><label for="comment">comment</label></td>
					<td><input type="text" id="comment" name="comment"{% if guestcomment %}value="{{ guestcomment }}"{% endif %}/></td>
				</tr>
				<tr>
					<td><label for="password">password</label></td>
					<td><input type="password" id="password" name="password"/></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="submit"/></td>
				</tr>
			</table>
		</form>
		{% if attending %}
		<h2>these cool cats are coming</h2>
		<ul>
			{% for guest_name, guest_title, comment in attending %}
			<li>
				{{ guest_title }}{% if comment %}: "{{ comment }}"{% endif %}
				(<a href="{{ url_for('edit_guest', event_name=name, name=guest_name) }}">edit</a>
				| <a href="{{ url_for('delete_guest', event_name=name, name=guest_name) }}">delete</a>)
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if bailing %}
		<h2>these cool cats are bailing</h2>
		<ul>
			{% for guest_name, guest_title, comment in bailing %}
			<li>
				{{ guest_title }}{% if comment %}: "{{ comment }}"{% endif %}
				<a href="{{ url_for('edit_guest', event_name=name, name=guest_name) }}">edit</a>
				<a href="{{ url_for('delete_guest', event_name=name, name=guest_name) }}">delete</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</body>
</html>
